/* CSS for styling the banner */
.banner {
    width: 100%;
    overflow: hidden; /* Ensure the image doesn't overflow the container */
}

.banner img {
    width: 100%; /* Ensure the image scales to fit the container */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove any extra space below the image */
}

$primary: hsl(260, 100%, 80%);

html,
body {
    height: 100vh;
    width: 100vw;
}


body {
    margin: 0;
    display: grid;
    place-items: center;
    background-color: #FFF;
    font-family: system-ui, sans-serif;

}

/* CSS for styling the images */
.image-container {
    margin-top: 20px;
    text-align: center; /* Center the images horizontally */
}

.image-container a {
    display: inline-block;
    margin-right: 10px; /* Add some space between images */
}

.image-container a:last-child {
    margin-right: 0; /* Remove margin from the last image */
}

.text-content {
    font-family: Trebuchet, sans-serif;
    font-size: 18px;
    color: #004E4C;
    background-color: #F5F1EB;
    padding: 50px;
    border: 1px solid #666;
    border-radius: 10px;
    width: 50%;
    margin: 20px auto;
    text-align: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Add shadow */
}

.separador {
    padding: 20px; /* Add padding to the image */
    margin: 0 auto; /* Center the image horizontally */
    display: block; /* Ensure the image is treated as a block element */
}

/* Responsive design for mobile devices */
@media only screen and (max-width: 600px) {
    .text-content {
        width: 90%; /* Adjust width to fit smaller screens */
        padding: 20px; /* Reduce padding on smaller screens */
        font-size: 16px; /* Slightly smaller font size for readability */
    }

   .image-container {
        flex-direction: column; /* Stack images vertically */
        align-items: center; /* Center images horizontally */
    }

    .image-container img {
        width: 80%; /* Adjust width on mobile */
        margin-bottom: 10px; /* Space between stacked images */
    }

    .image-container img:last-child {
        margin-bottom: 0; /* Remove margin from the last image */
    }

    .separador {
        padding: 10px; /* Reduce padding on smaller screens */
    }
}
